header
{
	background-image: url("../images/header.png");
	background-size: contain;
	width: 100%;
	height: 8vw;
}

h1
{
	text-align: center;
	text-decoration: underline;
	font-size: 2.5rem;
	color: #596d2c;
}

main
{
	margin: 20px;
	border: groove aqua 5px;
}

#ketelDiv
{
		background-image: url("../images/ketel.png");
		background-size: contain;
		height: 300px;
		width: 300px;
		margin-top: 50%;
}

.Menu
{
	border: groove #596d2c 4px;
	border-radius: 3px;
}

.Menu > img:hover
{
	cursor: pointer;
	border: outset 3px #a6a6a6
}

.Menu > img
{
	box-sizing: border-box;
	margin: 2vw;
	display: block;
	height: 150px;
	width: 150px;
}
#LinkerMenu
{
	margin-left: 15%;
	float: left;
}

#RechterMenu
{
	margin-right: 15%;
	float: right;
}